* {
    box-sizing: border-box;
  }
  #navbar {
    background-color: #b8b8c2b4;
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
  }
  
  #navbar a:hover {
    background-color: #91b8f3;;
    height: 50px;
    color: black;
    text-decoration: underline;
  }
  .topnav-left{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    overflow: hidden;
    margin-top: -8px;
    margin-left: -5px;
  }

  .logo-image{
    width: 35px;
    height: 40px;
}
  
  .topnav-right {
    float: right;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 17px;
  }

  body {
    margin: 0;
    /* --color-text: #d05400; */
      --color-bg: #070a1f;
      /* --color-link: #6b5537;
    --color-link-hover: #fff; */
    --color-content-title-sub: #91b8f3;
      color: var(--color-text);
      background-color: var(--color-bg);
      --cursor-stroke: #091931;
      --cursor-fill: none;
      --cursor-stroke-width: 1px;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .parallax {
    background-image: url('lifeBg1.JPG');

    height: 35pc; 
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    background-image: url('lifeBg1.JPG');

    height: 20pc; 
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
  
  #mySidenav a {
    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 0 20px 20px 0;
  }
  
  #mySidenav a:hover {
    left: 0px;
  }
  
  #Vlog {
    top: 250px;
    background-color: #91b8f3;
  }
  
  #Dancing {
    top: 330px;
    background-color: #e7b99c;
  }
  
  #Sewing {
    top: 410px;
    background-color: #EFDCBE;
  }
  
  #myVideo {
    position: relative;
    left:0;
    top:50px;
    width: 100%;
    height:auto;
  }

 
  
  .content {
    position: absolute;
    top: 50px;
    background: rgba(1, 15, 32, 0.5);
    color: #ffffff;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 27px;
  }
  
  
  #myBtn {                                                                                            
    width: 100px;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
    border: none;
    background: #070a1fb6;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
  }
  
  #myBtn:hover {
    background: #91b8f3;
    color: black;
  }

  
  div.relative {
    position: relative;
    background-color: rgb(255, 255, 255);
    left: 30px;
    border: 3px solid #ffffff;
  }

  .hwk{
    background-color: white;
    padding:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:100px;
  }
  
  .vlogPage{
    background: #060b31;
    /* opacity: 0.5; */
    color: #91b8f3;
    padding-top:50px;
    padding-bottom: 15%;
    /* margin-bottom: 20%; */
    

  }

  .blacktitle{
    font-family: 'Playfair Display', serif;
    color: #0c192ed0;
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    line-height: 48px;
    letter-spacing: 5px;
    position: relative;
  }
  .greytitle{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    color:rgb(88, 88, 88);
    width:100%;
    height: auto;
    line-height: 80px;
    font-size: 20px;
    /* text-align: center;    */
  }
  .subtitle{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
      padding:40px;
      font-size: 30px;
      text-align: center;
  }

  .vlogs{
    display: flex;
    justify-content: space-evenly;
}
.content__title-sub {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:var(--color-content-title-sub);
    font-size: 2.8vw;
    position: absolute;
    top: 26%;
    padding-left: 30%;
  }

  .click {
    font-family: 'Nunito', sans-serif;
    color: rgba(220, 241, 255, 0.74);
    font-size: 1.5vw;
    position: absolute;
    top:31%;
    padding-left: 38%;
  }

  .more {
    font-family: 'Nunito', sans-serif;
    color: rgba(220, 241, 255, 0.74);
    font-size: 1.5vw;
    position: relative;
    padding-left: 42%;
  }

.footerProject{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px;
    padding-top: 10%;;
    bottom:10px;
}


  
.fa {
  display: flex;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  color:#91b8f3;
}
.fa-linkedin {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-tumblr {
  color: white;
}
.container0{
    margin-left:20%;
    margin-right:20%;
    margin-top: 12%;
    border-radius: 0.3%;
    background-color: rgba(223, 225, 255, 0.068);
    top:0;
    width:60%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 0%;
}
.projectBlock0 {
    width: 100%;
    align-items: center;
    padding-bottom: 10%;
  }
  
  .projectBlock0 a {
    text-align: center;
  }
  
  .projectBlock0 img {
    width: 100%;
  }

.container1 {
    background-color: #fff;
    top:0;
    width:100%;
    height: auto;
    display: block;
    /* flex-wrap: wrap; */
    padding: 15%;
  }

  
  .projectImage {  
    padding:3% 10%;
    width: 100%;
  }
  
  .projectImage img {
    width: 100%;
  }
  
  .projectTitle {
    width: calc(70% - 40px);
    font-family: 'Playfair Display', serif;
    color: #0c192ed0;
    /* font-family: bely-display, sans-serif; */
    font-weight: 400;
    font-size: 4vw;
    line-height: 6vw;
    position: relative;
    padding-left: 10%;
  }
  
  .projectDescription{
    font-family: 'Nunito', sans-serif;
    height: auto;
    line-height: 3vw;
    font-size: 1.5vw;
    color:rgb(88, 88, 88);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }

  .container {
    position: relative;
    width: 40%;
    max-width: 500px;
 
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(16, 5, 73);
    background: rgba(7, 4, 104, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .container2 {
    position: relative;
    width: 40%;
    max-width: 500px;
  }
  .container2:hover .overlay {
    opacity: 1;
  }
  
.dancePage{
    background: #060b31;
    color: #e7b99c;
    padding-top:50px;
    padding-bottom: 15%; 
    /* margin-bottom: 20%; */
    
}
.videogallery{
  display: flex;
  justify-content:space-evenly;
  padding:10px 10px; 
}
#danceVideo {
    display: flex;
    align-items:stretch;
    position: relative;
    width: 20%;
    height:auto;
    padding-left:10px;
    padding-right:10px;

  }
.sewPage{
    background: #060b31;
    color: #EFDCBE;
    padding-top:50px;
    padding-bottom: 20%;  
}

.sewgallery{
    padding-left:30%;
    padding-right:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.gallery{
  background-color: white;
  padding-left:100px;
  padding-right:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:250px 100px;
}
  
.column{
    padding:100px;
    flex: 20%;
    max-width: 40%;
    padding: 15px 5px;
}

.moresketches{
  background-color: white;
  padding-left:10px;
  padding-right:10px;
  display: flex;
  flex-direction: column;
  
}

.headgallery{
  display: flex;
  flex-direction: row;
  padding:10px;
  flex: 20%;
  max-width: 30%;
  padding: 15px 5px;
}

.About{
  width:100%;
  height:auto;
  background-color: #070a1f2d;
  border-color: gray;
  padding-left:100px;
  padding-right:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:250px 100px;
}

.Contact{
  background-color: #070a1f36;
  border-color: gray;
  padding-left:100px;
  padding-right:100px;
  display: flex;
  justify-content:center;
  padding:250px 100px;
}

@media screen and (max-width: 950px) {
    .topnav-right {
        font-size: 15px;
      }
  .content {
    font-size: 23px;
    }
.blacktitle{ 
  padding-left: 30px;
  padding-top: 30px;

}


.greytitle{
  padding-bottom: 0px;
  padding-left: 30px;
  float:left;
}

.subtitle{
    padding:30px;
    font-size: 20px;
}

.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}

.videogallery{
  
  flex-direction: row;
  justify-content: center;
  padding:10px 10px; 
}

.container0{
    margin-left:10%;
    margin-right:10%;
    margin-top: 30%;
    border-radius: 0.3%;
    width:80%;
    padding-top: 18%;
    padding-bottom: 0%;
}
.content__title-sub {

    font-size: 3.3vw;
    position: absolute;
    top: 26%;
    padding-left: 28%;
  }
  .click {
    font-size: 2.5vw;
    top:31%;
    padding-left: 38%;
  }

  .parallax {
    height: 45pc; 
  }
}

@media screen and (max-width: 760px) {
    .topnav-right {
        font-size: 14px;
      }
     .column {
        -ms-flex: 100%;
        flex: 90%;
        max-width: 90%;
      }
      .container0{
        margin-left:10%;
        margin-right:10%;
        margin-top: 40%;
        border-radius: 0.3%;
        width:80%;
        padding-top: 35%;
        padding-bottom: 0%;
    }
    .content__title-sub {
    
        font-size: 6vw;
        position: absolute;
        top: 23%;
        padding-left: 20%;
      }

      .footerProject{
        position: relative;
        width: 95%;
        margin:5px;
        padding-top: 5%;;
        bottom:30px;
    }
    .click {
        font-size: 3.5vw;
        top:30%;
        padding-left: 20%;
      }
      #danceVideo {
        flex-direction: column;
      }
      .videogallery{
        height:100%;
        width: auto;
        display: flex;
        flex-direction: wrap;
        justify-content: center;
 
      }
      .parallax {
        background-image: url('lifeBg2.jpeg');
        height: 25pc; 
      }
      .parallax2 {
        background-image: url('lifeBg2.jpeg');
      }
      
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}